# Requirements needed for running the test suite. Don't include tox and
# tox-pyenv here because they're in dev_requirements.txt.

coverage==4.4.2
flake8==3.5.0
psycopg2==2.7.3
pylint==1.8.1
pytest-mock==1.6.3
pytest-profiling==1.2.11
pytest-randomly==1.2.2
