# Requirements needed for running the test suite. Don't include tox and
# tox-pyenv here because they're in dev_requirements.txt.

# Pytest needs to be installed first here for tox. Otherwise the latest
# version of pytest will be pulled in when installing pytest-mock, causing
# an installation error for python3.3
pytest>=3.0.0; python_version>="3.4"
pytest>=3.0,<3.3; python_version<"3.4"

coverage==4.4.2
flake8==3.5.0
psycopg2==2.7.3
pylint==1.7.4
pytest-mock==1.6.3
pytest-profiling==1.2.11
pytest-randomly==1.2.2
